# Python for Data Science

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/AI-Core/Python-for-Data-Science/blob/main/Part%201%20-%20Loading%20and%20Exploring%20the%20Dataset%20TODO.ipynb)

## The Problem

__Loan default prediction__ is one of the most critical and crucial problems faced by financial institutions and organizations as it has a noteworthy effect on the profitability of these institutions. In recent years, there is a tremendous increase in the volume of _non–performing_ loans which results in a jeopardizing effect on the growth of these institutions. 

Therefore, to maintain a healthy portfolio, banks put stringent monitoring and evaluation measures in place to ensure the timely repayment of loans by borrowers. Despite these measures, a major proportion of loans become delinquent. _Delinquency_ occurs when a borrower misses a payment against his/her loan.

Given the information like mortgage details, borrowers-related details, and payment details, your objective is to build a system that can predict the defaulter status of loans for the next month given the defaulter status for the previous 12 months (in the number of months).

# Part 1 - Loading and Exploring The Dataset

## Prerequisites

1. [Comments](https://www.youtube.com/watch?v=kKTh1xCiH6Q&feature=emb_imp_woyt)
1. [Printing](https://www.youtube.com/watch?v=dbEBN7r8f-Y&feature=emb_imp_woyt)
1. [Variables](https://www.youtube.com/watch?v=VTcVnkgt-OE&feature=emb_imp_woyt)
1. [Numbers](https://www.youtube.com/watch?v=zv5Nvx29_5Q&feature=emb_imp_woyt)
1. [Lists](https://www.youtube.com/watch?v=8KwNODUQQcI&feature=emb_imp_woyt)
1. [Functions and function calls](https://www.youtube.com/watch?v=Z4Ksu4oYVRo&feature=emb_imp_woyt)
1. [OOP](https://www.youtube.com/watch?v=SG2d0w2bRVY&feature=emb_imp_woyt)
1. [Imports](https://www.youtube.com/watch?v=A18-toakFcM&feature=emb_imp_woyt)
1. [Pandas dataframes](https://www.youtube.com/watch?v=QQEYXHg1DtI&feature=emb_imp_woyt)

## The Dataset

Our dataset consists of the variables described in the table below. 

The last variable, `m13` represents whether the borrower failed to make their payments for the month following the previous 12. This is the value that we want to anticipate. 
This variable can be used to evaluate the performance of the system we create, by comparing it with the system's predictions.

| Variable                   | Description                                                      |
| -------------------------- | ---------------------------------------------------------------- |
| loan\_id                   | Unique loan ID                                                   |
| source                     | Original Channel of Loan                                         |
| financial\_institution     | Name of the bank                                                 |
| interest\_rate             | Loan interest rate                                               |
| unpaid\_principal\_bal     | Loan unpaid principal balance                                    |
| loan\_term                 | Loan term (in days)                                              |
| origination\_date          | Loan origination date (YYYY-MM-DD)                               |
| first\_payment\_date       | First instalment payment date                                    |
| loan\_to\_value            | Loan to value ratio                                              |
| number\_of\_borrowers      | Number of borrowers                                              |
| debt\_to\_income\_ratio    | Debt-to-income ratio                                             |
| borrower\_credit\_score    | Borrower credit score                                            |
| loan\_purpose              | Loan purpose                                                     |
| insurance\_percent         | Loan Amount percent covered by insurance                         |
| co-borrower\_credit\_score | Co-borrower credit score                                         |
| insurance\_type            | 0 - Premium paid by the borrower, 1 - Premium paid by Lender     |
| m1 to m12                  | Month-wise loan performance (defaulter in months)                |
| m13                        | target, loan defaulter status (0 = Non-Defaulter, 1 = Defaulted) |

## Configuration

Run the cell below to configure some useful settings.

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', 500)

### Loading in the data

In the following cell is the link to the dataset, which is stored in the cloud, using a service called AWS S3.

In [3]:
link_to_file = "https://aicore-project-files.s3.eu-west-1.amazonaws.com/Python_for_DS/loans.csv"

This can be used to load in the dataset.

In [4]:
# loading the csv

Generally, the first thing that you should do is have a look at a sample of your data to understand what it looks like. 
Especially ensure that you understand the format of the __target column__, `m13`. 

Let's take a look at the dataset. we can use the `.head()` function or `.tail()` function to have peek into the first 5 or last 5 rows respectively using this.

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,694.0,C86,30.0,NaN,0.0,0,0,0,0,0,0,1,0,0,0,0,0,defaulter
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,697.0,B12,0.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,defaulter
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,33.0,780.0,B12,0.0,NaN,0.0,0,0,0,0,0,0,0,0,0,0,0,0,defaulter
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,44.0,633.0,B12,0.0,638.0,0.0,0,0,0,0,0,0,0,0,1,1,1,1,defaulter
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,43.0,681.0,C86,0.0,NaN,NaN,0,1,2,3,4,5,6,7,8,9,10,11,defaulter

By default, pandas assign a default index to the DataFrame. If you notice, in the given dataset `load_id` is just a column with a unique row_identifier. Let's set `loan_id` as the index. using `.set_index()` function of pandas DataFrame.

,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
loan_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,
268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,694.0,C86,30.0,NaN,0.0,0,0,0,0,0,0,1,0,0,0,0,0,defaulter
672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,697.0,B12,0.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,defaulter
742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,33.0,780.0,B12,0.0,NaN,0.0,0,0,0,0,0,0,0,0,0,0,0,0,defaulter
601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,44.0,633.0,B12,0.0,638.0,0.0,0,0,0,0,0,0,0,0,1,1,1,1,defaulter
273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,43.0,681.0,C86,0.0,NaN,NaN,0,1,2,3,4,5,6,7,8,9,10,11,defaulter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382119962287,Y,Browning-Hart,4.125,153000,360,2012-02-01,04/2012,88,2.0,22.0,801.0,A23,25.0,802.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
582803915466,Z,OTHER,3.000,150000,120,2012-01-01,03/2012,35,1.0,37.0,796.0,B12,0.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
837922316947,X,OTHER,3.875,166000,360,2012-02-01,04/2012,58,2.0,49.0,724.0,B12,0.0,723.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
477343182138,X,OTHER,4.250,169000,360,2012-02-01,04/2012,74,2.0,13.0,755.0,A23,0.0,746.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
763308490661,Z,Thornton-Davis,3.375,252000,180,2012-01-01,03/2012,29,2.0,40.0,770.0,A23,0.0,766.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter

In [7]:
# another way of setting loan_id as index

So now we have loaded the data with the correct index columns. It's time to dig a little deeper into the data. We will use : 
1. `.describe()` : To display the min, max, mean, median, 0.25 and 0.75 quantiles of every numerical column. 
2. `.info()` : This function displays information such as the `dtype` of each column, the count of non-null values in each columns, and the amount of memory occupied by the dataset, among other details.

Try them below:

In [8]:
# describe

,count,mean,std,min,25%,50%,75%,max
interest_rate,116058.0,3.868961,0.461020,2.25,3.5,3.875,4.125,6.75
unpaid_principal_bal,116058.0,208226.223095,114685.099114,11000.00,120000.0,183000.000,278000.000,1200000.00
loan_term,116058.0,292.280997,89.762415,60.00,180.0,360.000,360.000,360.00
loan_to_value,116058.0,67.431939,17.291719,6.00,57.0,72.000,80.000,97.00
number_of_borrowers,116058.0,1.593186,0.491242,1.00,1.0,2.000,2.000,2.00
debt_to_income_ratio,116058.0,30.742293,9.730798,1.00,23.0,31.000,39.000,64.00
borrower_credit_score,116007.0,770.265260,39.010306,480.00,751.0,782.000,800.000,840.00
insurance_percent,116058.0,2.786288,8.096464,0.00,0.0,0.000,0.000,40.00
co-borrower_credit_score,68795.0,775.370289,35.708863,620.00,759.0,786.000,801.000,836.00
insurance_type,63628.0,0.003253,0.056945,0.00,0.0,0.000,0.000,1.00
m1,116058.0,0.003197,0.063354,0.00,0.0,0.000,0.000,3.00
m2,116058.0,0.002059,0.051391,0.00,0.0,0.000,0.000,4.00
m3,116058.0,0.001973,0.055427,0.00,0.0,0.000,0.000,5.00
m4,116058.0,0.002180,0.062161,0.00,0.0,0.000,0.000,6.00
m5,116058.0,0.003533,0.082638,0.00,0.0,0.000,0.000,7.00
m6,116058.0,0.003421,0.087553,0.00,0.0,0.000,0.000,8.00
m7,116058.0,0.004162,0.100961,0.00,0.0,0.000,0.000,9.00
m8,116058.0,0.004825,0.113128,0.00,0.0,0.000,0.000,10.00
m9,116058.0,0.005359,0.128242,0.00,0.0,0.000,0.000,11.00
m10,116058.0,0.006617,0.148430,0.00,0.0,0.000,0.000,12.00
m11,116058.0,0.007109,0.162884,0.00,0.0,0.000,0.000,13.00
m12,116058.0,0.008065,0.178128,0.00,0.0,0.000,0.000,14.00

In [9]:
# info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116058 entries, 268055008619 to 763308490661
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   source                    116058 non-null  object
 1   financial_institution     116058 non-null  object
 2   interest_rate             116058 non-null  float64
 3   unpaid_principal_bal      116058 non-null  int64
 4   loan_term                 116058 non-null  int64
 5   origination_date          116058 non-null  object
 6   first_payment_date        116058 non-null  object
 7   loan_to_value             116058 non-null  int64
 8   number_of_borrowers       116058 non-null  float64
 9   debt_to_income_ratio      116058 non-null  float64
 10  borrower_credit_score     116007 non-null  float64
 11  loan_purpose              116058 non-null  object
 12  insurance_percent         116058 non-null  float64
 13  co-borrower_credit_score  68795 non-null   float64
 14  insurance_type            63628 non-null   float64
 15  m1                        116058 non-null  int64
 16  m2                        116058 non-null  int64
 17  m3                        116058 non-null  int64
 18  m4                        116058 non-null  int64
 19  m5                        116058 non-null  int64
 20  m6                        116058 non-null  int64
 21  m7                        116058 non-null  int64
 22  m8                        116058 non-null  int64
 23  m9                        116058 non-null  int64
 24  m10                       116058 non-null  int64
 25  m11                       116058 non-null  int64
 26  m12                       116058 non-null  int64
 27  m13                       116058 non-null  object
dtypes: float64(7), int64(15), object(6)
memory usage: 25.7+ MB

### Missing Value Analysis

The next step is to do missing value analysis.
Missing values in pandas DataFrames are defined by a `Nan` (Not a number). 
You will see a `Nan` whenever there is absence of a value. 

It is very important to handle these missing values for a number of reasons:
1. Better Predictive Modelling: Most machine learning algorithms can't predict with missing values.
2. Better Data Quality: Many times missing values can be filled by doing intelligent analysis of data. This leads to improvement in data quality.

Here are some rough guidelines for how to handle missing values
If more than 30% of a column has missing values, drop that column.
Otherwise, there are two things that you can do:
1. Impute the missing values (fill them in)
2. Drop the rows containing null values

_Note: dropping null rows should not add any target data imbalance in the dataset._

source                       0.000000
financial_institution        0.000000
interest_rate                0.000000
unpaid_principal_bal         0.000000
loan_term                    0.000000
origination_date             0.000000
first_payment_date           0.000000
loan_to_value                0.000000
number_of_borrowers          0.000000
debt_to_income_ratio         0.000000
borrower_credit_score        0.043944
loan_purpose                 0.000000
insurance_percent            0.000000
co-borrower_credit_score    40.723604
insurance_type              45.175688
m1                           0.000000
m2                           0.000000
m3                           0.000000
m4                           0.000000
m5                           0.000000
m6                           0.000000
m7                           0.000000
m8                           0.000000
m9                           0.000000
m10                          0.000000
m11                          0.000000
m12                          0.000000
m13                          0.000000
dtype: float64

We can clearly see there are 3 columns with null values
- `co-borrower_credit_score` > 30 %
- `insurance_type` > 30 %
- `insurance_type` < 30 %

In [11]:
# We will go forward and drop the columns with more than 30% missing values

In [12]:
# checking rows with any missing values

,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
loan_id,,,,,,,,,,,,,,,,,,,,,,,,,,
888134221595,X,OTHER,3.750,82000,360,2012-01-01,03/2012,70,1.0,30.0,NaN,C86,0.0,1,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
761904018373,X,OTHER,3.250,301000,180,2012-01-01,03/2012,70,1.0,14.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
995622857427,X,Browning-Hart,3.875,171000,360,2012-01-01,03/2012,80,1.0,29.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
903289147761,X,OTHER,4.625,210000,360,2012-03-01,05/2012,70,1.0,39.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
428724505949,X,OTHER,4.375,180000,360,2012-01-01,03/2012,67,1.0,32.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
601575340227,X,Browning-Hart,2.875,169000,180,2012-01-01,03/2012,80,1.0,6.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
171747732261,X,OTHER,4.499,95000,360,2012-02-01,04/2012,70,1.0,20.0,NaN,C86,0.0,0,1,2,0,0,0,0,0,0,0,0,0,non-defaulter
797644303254,X,Browning-Hart,3.625,206000,360,2012-01-01,03/2012,80,1.0,11.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
372350802735,X,Browning-Hart,4.750,94000,360,2012-02-01,04/2012,80,2.0,15.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
393541713339,X,OTHER,4.250,149000,360,2012-01-01,03/2012,70,1.0,11.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
594104892576,X,OTHER,4.250,258000,360,2012-02-01,04/2012,70,1.0,12.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
716513532721,X,Nicholson Group,4.500,173000,360,2012-03-01,04/2012,70,2.0,31.0,NaN,C86,0.0,0,0,0,0,0,1,0,0,0,0,0,0,non-defaulter
316127053057,X,OTHER,3.750,209000,360,2012-02-01,04/2012,78,2.0,23.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
582750777286,X,OTHER,3.875,183000,360,2012-03-01,05/2012,89,2.0,32.0,NaN,C86,25.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
245411758670,X,OTHER,4.500,151000,360,2012-02-01,04/2012,70,1.0,6.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
398593488650,X,OTHER,3.500,400000,180,2012-01-01,02/2012,76,1.0,19.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
287211705812,Y,OTHER,3.875,116000,360,2012-02-01,04/2012,80,2.0,18.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
486464452900,X,"Martinez, Duffy and Bird",5.340,70000,360,2012-01-01,03/2012,80,2.0,25.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
694040347827,X,OTHER,4.000,91000,360,2012-01-01,03/2012,62,2.0,45.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
624859473390,X,OTHER,4.375,135000,360,2012-02-01,04/2012,63,2.0,17.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
243837906728,X,OTHER,4.375,232000,360,2012-01-01,03/2012,70,1.0,18.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
262250689986,X,OTHER,4.000,145000,360,2012-03-01,05/2012,50,1.0,41.0,NaN,C86,0.0,1,2,1,2,3,0,1,0,1,1,0,0,non-defaulter
307522595543,X,Browning-Hart,3.750,367000,360,2012-02-01,04/2012,80,1.0,32.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
395317656258,X,Browning-Hart,4.500,114000,360,2012-02-01,04/2012,80,2.0,13.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
790290017074,X,OTHER,4.250,386000,360,2012-01-01,03/2012,70,1.0,38.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
372559816853,X,"Martinez, Duffy and Bird",3.375,240000,180,2012-01-01,03/2012,78,1.0,24.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
678489443390,X,OTHER,3.375,315000,180,2012-01-01,03/2012,70,2.0,29.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
872235549223,X,OTHER,3.250,105000,180,2012-02-01,04/2012,70,1.0,18.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
256738465867,X,OTHER,4.375,70000,360,2012-03-01,05/2012,80,2.0,25.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
972677688514,X,Browning-Hart,3.750,268000,360,2012-02-01,04/2012,80,1.0,19.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
694368273337,X,Nicholson Group,3.250,110000,120,2012-01-01,04/2012,44,1.0,33.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
659167722903,X,Browning-Hart,4.000,384000,360,2012-02-01,04/2012,90,1.0,26.0,NaN,C86,25.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
164103914487,Y,"Martinez, Duffy and Bird",3.375,410000,180,2012-01-01,03/2012,75,2.0,33.0,NaN,A23,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
364442478890,X,OTHER,3.850,75000,360,2012-03-01,05/2012,60,2.0,10.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
246325794699,X,Browning-Hart,4.125,87000,360,2012-01-01,03/2012,80,2.0,3.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
581175292593,X,Browning-Hart,3.125,352000,180,2012-01-01,03/2012,79,1.0,45.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
288888557126,X,OTHER,3.375,161000,180,2012-02-01,04/2012,71,1.0,34.0,NaN,A23,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
300129797124,Y,OTHER,4.375,130000,360,2012-02-01,04/2012,80,2.0,29.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
360784593098,X,Browning-Hart,3.125,152000,180,2012-01-01,03/2012,80,1.0,24.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
756372936967,X,OTHER,4.375,231000,360,2012-01-01,03/2012,70,1.0,38.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
476519413287,X,OTHER,4.375,150000,360,2012-01-01,03/2012,64,2.0,32.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
665766578157,X,OTHER,4.625,345000,360,2012-01-01,03/2012,80,2.0,36.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
714772351472,X,OTHER,4.000,139000,360,2012-01-01,03/2012,70,1.0,28.0,NaN,C86,0.0,1,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
810679844346,X,Browning-Hart,3.875,78000,360,2012-01-01,03/2012,54,2.0,36.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
236999283980,X,OTHER,4.875,17000,360,2012-02-01,04/2012,75,2.0,43.0,NaN,B12,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
678306253483,X,Browning-Hart,4.000,204000,360,2012-02-01,04/2012,95,1.0,18.0,NaN,C86,30.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
189518890131,X,Browning-Hart,3.875,271000,360,2012-01-01,03/2012,95,2.0,43.0,NaN,C86,30.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
554158648209,X,Browning-Hart,4.250,235000,360,2012-02-01,04/2012,72,2.0,27.0,NaN,A23,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
143458375814,X,OTHER,4.000,136000,360,2012-03-01,05/2012,94,2.0,18.0,NaN,A23,30.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
425033630533,X,Browning-Hart,3.375,183000,180,2012-02-01,04/2012,80,1.0,23.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter
413655237848,X,Browning-Hart,4.000,177000,360,2012-01-01,03/2012,51,1.0,18.0,NaN,C86,0.0,0,0,0,0,0,0,0,0,0,0,0,0,non-defaulter

## Imputing (filling in) Missing Data

Imputation means filling in missing values wherever possible. 
There are several approaches that can be used to impute the data. 
A handful of them can be found within Sklearn's `impute` module.

In [13]:
# import KNN imputer

The `KNNImputer` is an algorithm that predicts the missing values based on the average value of the most similar examples.
The similar examples used are known as the neighbors.

In [18]:
# create a KNN imputer
# fit the imputer to the data and return the transformed dataset by imputing missing values

In [19]:
# set df column

Check the missing values again after Imputation to check if any NULL values are still missing. Make sure there are no missing values in the dataset.

In [22]:
# sum of all columns

0

Now there are no null values.

## Clean up the Target Column

The target column (`m13`) is currently a column filled with text.
For those values to be interpreted and processed by many techniques, especially those that use machine learning, they need to be converted into numbers.
So, you should convert the categorical column into numerical column.
This can be done in a number of ways.

One approach is to use a __lambda function__.

In [23]:
target = 'm13'
# encode target as 0 or 1 with lambda function

In [24]:
# show counts of different label values

0    115422
1       636
Name: m13, dtype: int64

#### Cleaning other columns by typecasting to the correct datatype

In [25]:
# converting into appropriate dtypes
#converting to datetime format

Let's recap. Here's what you should have gone through so far
- load in data 
- understand the format of the data
- clean the missing values from the dataset
- transform the target column from text to numbers